.login-layout-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #631111 0%, #160404 100%);
  background-color: #160404;
  z-index: 9999;
  margin: 0;
  padding: 0;
}